.page-main {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
}
