.platforms {
  display: flex;
  flex-direction: column;
  background-color: #1d2631;
  padding: 20px;
  padding-bottom: 30px;
}

.platforms__image {
  margin-top: 110px;
}

.platforms__download {
  font: inherit;
  font-size: 18px;
  line-height: 55px;
  font-weight: 700;
  color: @color-white;
  background-color: transparent;
  border: 2px solid @color-white;
  border-radius: 27px;
}

.platforms__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 0;
}

.platforms__text {
  color: @color-white;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 0 15px;
  margin-top: 20px;
}
