.platforms {
  display: flex;

  min-height: 668px;
  outline: 2px solid green;
  outline-offset: -2px;
}

.platforms__content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  outline: 2px solid red;
  outline-offset: -2px;
}

.platforms__image {
  margin-top: 107px;
  align-self: flex-start;
}

.platforms__links {
  box-sizing: border-box;
  // background-color: #1d2631;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.platforms__statement {
  display: none;
  font-size: 40px;
  line-height: 49px;
  font-weight: 300;
  padding: 0 30px;
  color: white;
  text-align: center;
  margin: 90px 0 0;
}

.platforms__download {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  color: @color-white;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: 2px solid @color-white;
  box-sizing: border-box;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 27px;
  margin-top: 24px;
}

.platforms__list {
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 206px;
  margin: 0 auto;
  padding: 0;
  margin-top: 30px;
}

.platforms__text {
  color: @color-white;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0 15px;
  margin-top: 20px;
  line-height: 24px;
}


@media (min-width: 660px) {
  .platforms {

    min-height: 619px;
  }

  .platforms__content {
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 620px;
    margin: 0 auto;
  }

  .platforms__links {
    background-color: transparent;
    width: 300px;
    padding: 0;
  }

  .platforms__statement {
    display: block;
  }

  .platforms__download {
    margin-top: 31px;
  }

  .platforms__list {
    margin-top: 44px;
  }

  .platforms__text {
    font-size: 18px;
    padding: 0;
    margin-top: 34px;
  }

  .platforms__image {
    position: absolute;
    bottom: -3px;
    right: -40px;
    z-index: -1;
  }
}


@media (min-width: 960px) {
  .platforms {
    min-height: 743px;
  }

  .platforms__content {
    width: 940px;
  }

  .platforms__links {
    background-color: transparent;
    width: 300px;
    padding: 0;
  }

  .platforms__statement {
    display: block;
    margin-top: 109px;
    font-size: 50px;
    line-height: 60px;
  }

  .platforms__download {
    margin-top: 50px;
    font-size: 21px;
  }

  .platforms__list {
    margin-top: 65px;
  }

  .platforms__text {
    font-size: 18px;
    padding: 0;
    margin-top: 54px;
  }

  .platforms__image {
    right: -127px;
  }
}
